Repository rbrich/xcikit, changes with the labels that .github/labeler.yml gives for each.
All labels: xci-compat, build/ci

[build] conan: use new CMakeToolchain, CMakeDeps
  CMakeLists.txt
  cmake/ConanInit.cmake
  conanfile.py
  test_package/CMakeLists.txt
  test_package/conanfile.py
Labels: build/ci

[build] emscripten - do not detect system deps, they won't work when crosscompiling
  CMakeLists.txt
  README.adoc
  build.sh
  conanfile.py
  docker/emscripten/conan/profile
  requirements.csv
Labels: build/ci

[build] conan: always pass both -pr and -pr:b
  build.sh
Labels: build/ci

[build] fix detect_system_deps.py on Windows, prefer 'py' launcher over 'python3' command
  CMakeLists.txt
  README.adoc
  build.sh
  detect_system_deps.py
  src/xci/script/Source.cpp
  src/xci/script/Source.h
Labels: build/ci

[graphics] fix Windows build + some warnings, demo_coords now works
  README.adoc
  conanfile.py
  examples/graphics/demo_coords.cpp
  src/xci/core/ArgParser.h
  src/xci/graphics/CMakeLists.txt
  src/xci/graphics/Primitives.cpp
  src/xci/graphics/Renderer.cpp
  src/xci/graphics/Shader.cpp
  src/xci/graphics/Shader.h
  src/xci/graphics/vulkan/DescriptorPool.cpp
  src/xci/graphics/vulkan/DescriptorPool.h
  src/xci/graphics/vulkan/Pipeline.cpp
  src/xci/graphics/vulkan/Pipeline.h
  src/xci/text/Font.cpp
  src/xci/text/Markup.cpp
  src/xci/text/Style.cpp
  src/xci/text/freetype/FtFontFace.cpp
  third_party/rbp/MaxRectsBinPack.cpp
  third_party/rbp/MaxRectsBinPack.h
  third_party/rbp/Rect.cpp
Labels: build/ci

shellcheck fix, suppress
  build.sh
Labels: build/ci

[build] conan: remove dependent options
  conanfile.py
Labels: build/ci

[build] support system-installed fmt, magic_enum
  conanfile.py
  detect_system_deps.py
  requirements.csv
Labels: build/ci

[build] avoid 'using namespace std', avoid 'using fmt::format' (MSVC ADL issues, collision with std::format which is included internally in std lib)
  examples/core/demo_argparser.cpp
  examples/core/demo_termctl.cpp
  examples/graphics/CMakeLists.txt
  src/xci/core/ArgParser.cpp
  src/xci/script/CMakeLists.txt
  src/xci/script/Error.h
  src/xci/script/Function.h
  src/xci/script/Stack.cpp
  src/xci/script/Value.cpp
  src/xci/text/Markup.cpp
  src/xci/widgets/TextTerminal.cpp
  src/xci/widgets/Widget.cpp
  tests/test_script.cpp
  tools/fire_script/CMakeLists.txt
  tools/fire_script/Repl.cpp
Labels: none

[ci] github actions: Windows, Linux - enable building graphics libs
  .github/workflows/ci.yml
Labels: build/ci

[core] utf8_next, utf8_prev - avoid explicit template instantiation, use concrete function + header template (string_view v. char* portability issues)
  src/xci/core/string.cpp
  src/xci/core/string.h
Labels: none

[build] Windows: fixes
  examples/graphics/demo_fps.cpp
  examples/graphics/demo_shapes.cpp
  examples/graphics/demo_vulkan.cpp
  examples/text/demo_font.cpp
  examples/text/demo_layout.cpp
  examples/widgets/demo_term_dispatch.cpp
  examples/widgets/demo_widgets.cpp
  src/xci/compat/unistd.h
  src/xci/core/string.cpp
  src/xci/widgets/TextTerminal.cpp
  src/xci/widgets/TextTerminal.h
  tests/CMakeLists.txt
  tests/test_script.cpp
Labels: xci-compat

[build] update README (Windows)
  README.adoc
Labels: none

[ci] github actions: Macos - let Conan install vulkan-loader, don't install full Vulkan SDK
  .github/workflows/ci.yml
  conanfile.py
Labels: build/ci

[core] string: use concepts to restrict utf8_next, utf8_prev to proper iterator types
  src/xci/core/string.h
Labels: none

[build] conanfile.py: fix package_info for system deps
  conanfile.py
  requirements.csv
Labels: build/ci

[build] remove bootstrap.sh, instead download assets from cmake
  .circleci/config.yml
  .github/workflows/ci.yml
  .gitignore
  README.adoc
  bootstrap.sh
  conanfile.py
  share/CMakeLists.txt
  share/fonts/CMakeLists.txt
Labels: build/ci

[build] don't install fonts without enabled XCI_GRAPHICS
  share/CMakeLists.txt
  share/fonts/CMakeLists.txt
  share/shaders/CMakeLists.txt
Labels: none

[widgets] TextTerminal: refactoring
  src/xci/widgets/TextTerminal.cpp
  src/xci/widgets/TextTerminal.h
Labels: none

[ci] install ninja on Windows (readable build log)
  .github/workflows/ci.yml
  build.sh
  src/xci/core/string.h
Labels: build/ci

[build] windows: try to fix warning C4566: character represented by ... cannot be represented in the current code page
  cmake/XciBuildOptions.cmake
Labels: none

[widgets] TextTerminal: mode normal/bright
  .clang-tidy
  src/xci/widgets/TextTerminal.cpp
  src/xci/widgets/TextTerminal.h
  tests/test_widgets.cpp
Labels: none

[graphics] Key: report press/release of modifiers (Shift, Ctrl, Alt, Super); don't close window on Escape, let client program handle it
  examples/graphics/demo_coords.cpp
  examples/graphics/demo_fps.cpp
  examples/graphics/demo_shapes.cpp
  examples/widgets/demo_form.cpp
  examples/widgets/demo_term_widget.cpp
  src/xci/graphics/Window.cpp
  src/xci/graphics/Window.h
Labels: none

[graphics] Window::toggle_fullscreen
  .clang-format
  examples/graphics/demo_coords.cpp
  examples/graphics/demo_fps.cpp
  examples/graphics/demo_shapes.cpp
  examples/widgets/demo_form.cpp
  examples/widgets/demo_term_dispatch.cpp
  examples/widgets/demo_term_widget.cpp
  examples/widgets/demo_ui.cpp
  examples/widgets/demo_widgets.cpp
  src/xci/graphics/Window.cpp
  src/xci/graphics/Window.h
Labels: none

[text] support color bitmap fonts (emoji); smoother font scaling
  conanfile.py
  examples/graphics/demo_coords.cpp
  examples/graphics/demo_fps.cpp
  examples/graphics/demo_shapes.cpp
  examples/graphics/demo_vulkan.cpp
  examples/text/demo_font.cpp
  examples/widgets/demo_form.cpp
  examples/widgets/demo_term_dispatch.cpp
  examples/widgets/demo_term_widget.cpp
  examples/widgets/demo_ui.cpp
  examples/widgets/demo_widgets.cpp
  share/fonts/CMakeLists.txt
  share/shaders/CMakeLists.txt
  share/shaders/sprite.vert
  share/shaders/sprite_c.frag
  share/shaders/sprite_r.frag
  src/xci/core/mixin.h
  src/xci/graphics/Renderer.cpp
  src/xci/graphics/Shader.h
  src/xci/graphics/Sprites.cpp
  src/xci/graphics/Texture.cpp
  src/xci/graphics/Texture.h
  src/xci/text/Font.cpp
  src/xci/text/Font.h
  src/xci/text/FontFace.h
  src/xci/text/FontTexture.cpp
  src/xci/text/FontTexture.h
  src/xci/text/Layout.cpp
  src/xci/text/Style.cpp
  src/xci/text/Style.h
  src/xci/text/Text.cpp
  src/xci/text/freetype/FtFontFace.cpp
  src/xci/text/freetype/FtFontFace.h
  src/xci/text/layout/Page.cpp
  src/xci/widgets/FpsDisplay.cpp
Labels: build/ci

[text] allow choosing font scaling style: GPU or font-only, demonstrate in demo_font; change Layout markup style to XML-like
  .gitignore
  examples/text/demo_font.cpp
  examples/text/demo_layout.cpp
  src/xci/text/Layout.cpp
  src/xci/text/Layout.h
  src/xci/text/Markup.cpp
  src/xci/text/Markup.h
  src/xci/text/Style.cpp
  src/xci/text/Style.h
  src/xci/text/Text.cpp
  src/xci/text/Text.h
  src/xci/text/freetype/FtFontFace.cpp
  src/xci/text/layout/Element.h
  src/xci/text/layout/Page.cpp
  src/xci/text/layout/Page.h
  src/xci/widgets/TextTerminal.cpp
Labels: none

[widgets] TextTerminal: support emoji
  cmake/XciBuildOptions.cmake
  examples/widgets/demo_term_widget.cpp
  src/xci/graphics/Texture.cpp
  src/xci/text/Font.cpp
  src/xci/text/Font.h
  src/xci/text/Style.cpp
  src/xci/text/layout/Page.cpp
  src/xci/widgets/TextTerminal.cpp
  src/xci/widgets/TextTerminal.h
  src/xci/widgets/Theme.cpp
  src/xci/widgets/Theme.h
  tests/test_core.cpp
  tests/test_widgets.cpp
Labels: none

[build] upgrade PEGTL 3.2.1
  .clang-format
  requirements.csv
  src/xci/script/Parser.cpp
  src/xci/text/FontLibrary.cpp
  src/xci/text/Markup.cpp
  src/xci/text/freetype/FtFontLibrary.cpp
  src/xci/text/freetype/FtFontLibrary.h
Labels: none

[ci] add macOS 11
  .github/workflows/ci.yml
  build.sh
Labels: build/ci

[build] conanfile.py: disable layout() for now, it's too experimental, broke dep installation after upgrade to Conan 1.41.0
  CMakeLists.txt
  conanfile.py
Labels: build/ci

[ci] macos-11: set deployment target 11.0
  .github/workflows/ci.yml
Labels: build/ci

[build] cmake: remove ENABLE_PEDANTIC option, add -Wpointer-arith and -Wextra-semi unconditionally
  cmake/XciBuildOptions.cmake
  src/xci/core/ArgParser.cpp
  src/xci/core/TermCtl.cpp
  src/xci/core/TermCtl.h
  src/xci/core/Vfs.h
  src/xci/script/Compiler.cpp
  src/xci/script/ast/AST.h
  src/xci/text/Font.h
  src/xci/text/Markup.h
Labels: none

[text] use Harfbuzz library for complex text shaping
  conanfile.py
  docker/debian/Dockerfile
  docs/text_rendering.adoc
  examples/text/demo_font.cpp
  examples/text/demo_layout.cpp
  requirements.csv
  share/README.md
  src/xci/text/CMakeLists.txt
  src/xci/text/Font.h
  src/xci/text/FontFace.h
  src/xci/text/freetype/FtFontFace.cpp
  src/xci/text/freetype/FtFontFace.h
  src/xci/text/layout/Page.cpp
  src/xci/text/layout/Page.h
Labels: build/ci

[text] demo_layout rework, use Lora font
  .gitignore
  examples/text/demo_layout.cpp
  share/README.md
  share/fonts/CMakeLists.txt
  src/xci/text/Layout.cpp
  src/xci/text/Layout.h
  src/xci/text/Text.cpp
  src/xci/text/Text.h
  src/xci/text/layout/Element.h
Labels: none

[text] TextTerminal: support emoji font fallback
  src/xci/text/FontFace.h
  src/xci/text/freetype/FtFontFace.cpp
  src/xci/text/freetype/FtFontFace.h
  src/xci/widgets/TextTerminal.cpp
  src/xci/widgets/TextTerminal.h
  tests/test_widgets.cpp
Labels: none

[ci] install system harfbuzz
  .github/workflows/ci.yml
Labels: build/ci

[ci] macos: use AppleClang on macos 11, brew clang on 10.15
  .github/workflows/ci.yml
Labels: build/ci

[build] update Harfbuzz 3.0.0
  requirements.csv
Labels: none

[widgets] TextTerminal: optimization - draw single background rectangle for each run of chars
  src/xci/widgets/TextTerminal.cpp
Labels: none

[widgets] TextTerminal: separate set_cursor_x, set_cursor_y
  src/xci/widgets/TextTerminal.cpp
  src/xci/widgets/TextTerminal.h
Labels: none

.github/labeler.yml:

xci-compat:
  - src/xci/compat/*.h
xci-core:
  - src/xci/core/*.+(cpp|h)
  - src/xci/core/**/*.+(cpp|h)
xci-data:
  - src/xci/data/*.+(cpp|h)
  - src/xci/data/**/*.+(cpp|h)
xci-graphics:
  - src/xci/graphics/*.+(cpp|h)
  - src/xci/graphics/**/*.+(cpp|h)
xci-script:
  - src/xci/script/*.+(cpp|h)
  - src/xci/script/**/*.+(cpp|h)
xci-text:
  - src/xci/text/*.+(cpp|h)
  - src/xci/text/**/*.+(cpp|h)
xci-widgets:
  - src/xci/widgets/*.+(cpp|h)
  - src/xci/widgets/**/*.+(cpp|h)
tools:
  - tools/**/*.+(cpp|h)
build/ci:
  - ./*.sh
  - conanfile.py
  - xcikitConfig.cmake.in
  - Dockerfile
  - docker/**/*
  - .circleci/*
  - .travis.yml
  - .github/*
  - .github/**/*
